.blog_post {
	max-width: 100%;
	text-align: center;
}

.blog_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.blog_content p {
	max-width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.blog_data {
	text-align: center;
}

.double_image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}