html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1 {
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 85px;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}

p, li {
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
}

@media only screen and (max-width: 750px) {

	#site_header_image {
	display: none;
	}
}

@media only screen and (max-width: 600px) {

	#site_header {
	padding: 20px;
	}

	#site_header h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
	}

	#site_header p {
		display: none;
	}
}

#site {
}

#site_header_link:link {
	color: black;
	text-decoration: none;
}

#site_header_link:visited {
	color: black;
	text-decoration: none;
}

#site_header_link:hover {
	color: black;
	text-decoration: none;
}

#site_header {
	padding: 50px;
	color: black;
	text-align: center;
}

#site_header_image {
	position: absolute;
	height: 250px;
	right: 50px;
	top: 25px;
	z-index: -1;
}

#menu {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 25px;
	padding-left: 25px;
}

#menu ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex
}

#menu ul li {
	margin-right: 10px;
}

#menu a:link {
	color: black;
	text-decoration: none;
}

#menu a:visited {
	color: black;
	text-decoration: none;
}

#menu a:hover {
	color: grey;
	text-decoration: none;
}

#blog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.blog_post {
	margin: 25px;
	padding: 24px;
	max-width: 500px;
}

.blog_post_link:link {
	color: black;
	text-decoration: none;
}

.blog_post_link:visited {
	color: black;
	text-decoration: none;
}

.blog_post_link:hover {
	color: grey;
	text-decoration: none;
}

.blog_header {
	margin-bottom: 5px;
}

.blog_data {
	color: #b8b8b8;
	margin-bottom: 30px;
}

.blog_tags {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-end;
	color: #b8b8b8;
}

.blog_content p, .blog_image{
	margin-bottom: 20px;
}

.blog_image {
	width: 100%;
	max-width: 600px;
}

#footer {
	height: 100px;
	padding: 25px;
	background: #383838;
	color: black;
}
